{% extends "layout.html" %}
{% block content %}
<h2>Add Announcement Command</h2>
<form method="post">
    Intercom:
    <select name="intercom">
        <option value="">--</option>
        {% for i in intercoms %}
        <option value="{{ i.id }}">{{ i.name }}</option>
        {% endfor %}
    </select><br>
    Group:
    <select name="group">
        <option value="">--</option>
        {% for g in groups %}
        <option value="{{ g.id }}">{{ g.name }}</option>
        {% endfor %}
    </select><br>
    Announcement:
    <select name="announcement">
        <option value="">--</option>
        {% for a in announcements %}
        <option value="{{ a.id }}">{{ a.name }}</option>
        {% endfor %}
    </select><br>
    Sound:
    <select name="sound">
        <option value="">--</option>
        {% for s in sounds %}
        <option value="{{ s.id }}">{{ s.name }}</option>
        {% endfor %}
    </select><br>
    Volume: <input type="number" name="volume" value="50"><br>
    Times to Play: <input type="number" name="times" value="1"><br>
    Loop Forever: <input type="checkbox" name="loop"><br>
    <input type="submit" value="Add Command">
</form>
{% endblock %}
